.hero {
    position: relative;
    color: #fff;
    margin-top: 56px;
    padding: 100px 0;
    background: var(--bs-dark) url("../img/hero.jpeg") fixed center;
    background-size: cover;
    box-shadow: 0 7px 15px rgba(0, 0, 0, .4);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
}

.hero__title {
    font-size: 4.1rem;
    font-weight: 700;
}

.hero__description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.students__table {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.thead__link {
    font-size: 1.1rem;
    color: #ced4da;
    text-decoration: none;
    transition: color .1s linear;
}

.thead__link:hover {
    color: #fff;
}

.page-item .page-link {
    color: var(--bs-dark);
}

.page-link:focus {
    box-shadow:0 0 0 .25rem rgba(66, 70, 73, 0.5);
}

.page-item.active .page-link {
    background-color: var(--bs-dark);
    border-color: unset;
}

.registration .form-control:focus,
.registration .form-control:active,
.registration .form-select:active,
.registration .form-select:focus {
    box-shadow:0 0 0 .25rem rgba(66, 70, 73, 0.5);
    border-color: #424649;
}

.registration-btn:hover {
    background-color: #495057;
    border-color: #495057;
}

.footer {
    padding: 30px 0;
    background: var(--bs-dark);
    color: rgba(255,255,255,.55);
}

.footer__description {
    display: inline-block;
    margin: 0;
    transition: color .1s linear;
}

.footer__description:hover {
    color: #fff;
}

.footer__heart {
    font-size: 1.5rem;
    transition: color .1s ease-in-out;
}

.footer__description:hover .footer__heart {
    color: #bb2d3b;
}

.footer__author {
    font-weight: 700;
}

@media screen and (max-width: 1199px) {

    .hero {
        padding: 80px 0;
    }

    .thead__link {
        font-size: unset;
    }
}

@media screen and (max-width: 991px) {

    .hero {
        padding: 60px 0;
    }

    .hero__title {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 467px) {

    .hero__title {
        font-size: 2.7rem;
    }

    .hero__description {
        font-size: 1rem;
    }
}